h1,
p {
  text-align: center;
  color: rgb(250, 253, 253);
  text-emphasis-style: bold;
  
  }


/*
    The background color will be light green
    at browser widths above 768px
  */
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: rgb(241, 241, 237);
}
#msgBtn2
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

#display-gif{
  background-color: rgb(236, 236, 241);
  float:right;
}
input[type=text] {
  background-color: #d9dfdc;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
}

input[type=submit] {
  background-color: #252f6d;
  color: white;
  text-align: center;
  padding: 6px 20px;
}
.jumbotron { 
  background-image: url("http://www.landmarkhearing.com/wp-content/uploads/2018/06/concert-crowd-1024x433.jpg"); 
  padding: 80px 80px;
  color: rgb(250, 253, 253);
  
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}