h1,
p {
  text-align: center;
  color: rgb(29, 226, 226);
  }


/*
    The background color will be light green
    at browser widths above 768px
  */
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: rgb(241, 241, 237);
}
#msgBtn2
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

#display-gif{
  background-color: blue;
  float:right;
}
input[type=text] {
  background-color: #d9dfdc;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
}

input[type=submit] {
  background-color: #252f6d;
  color: white;
  text-align: center;
  padding: 6px 20px;
}
