html{
  height: 100%;
  box-sizing: border-box;
  
}

}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
p {
  
  text-align: center;
  color: rgb(1, 1, 8);
  
  font-family: 'Racing Sans One', cursive;

 

  
  }


/*
    The background color will be light green
    at browser widths above 768px
  */
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: rgb(241, 241, 237);
}
#msgBtn2
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

#display-gif{
  background-color: rgb(236, 236, 241);
  float:right;
}
input[type=text] {
  background-color: #d9dfdc;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
}

input[type=submit] {
  background-color: #252f6d;
  color: white;
  text-align: center;
  padding: 8px 20px;
}
.jumbotron { 
  background-image: url("http://www.landmarkhearing.com/wp-content/uploads/2018/06/concert-crowd-1024x433.jpg"); 
  background-size: 1240px 433px;

  width: 100%;
  padding: 80px 80px;
  color: black;
  opacity: 0.85;
  

}
footer {
  position: relative;
  margin-top: 5em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(143, 201, 235);
  color: white;
  text-align: center;
}
.sticky {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;

}

.sticky-footer {
  position: absolute;
  bottom: 0;

}

.container2 {
  background-color: cadetblue;
  color: cadetblue;
}

.panel {
  text-align: center;
  font-weight: bold;
}

#foot {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}