h1,
p {
  text-align: center;
}


/*
    The background color will be light green
    at browser widths above 768px
  */
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: rgb(206, 233, 85);
}
#msgBtn2
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

#display-gif{
  background-color: blue;
  float:right;
}